main {
    background: #992400;
    color: white;
}

/************** WELCOME **************/
.welcome {
    height: 50vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.452) 100%, transparent), url("images/welcome.jpg") left 80% top 70%/cover no-repeat border-box, #992400;
    position: relative;
}

.welcome h1 {
    padding-top: 4rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    font-weight: 400;
}

.welcome p {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.5rem;
    font-weight: bold;
}
/************** END WELCOME **************/


/************** HOME-PHRASE **************/
.home-phrase {
    padding: 6rem 4rem;
    text-align: center;
    font-size: 1.6rem;
    font-style: oblique;
}
/************** END HOME-PHRASE **************/


/************** CHAR-LIST **************/
.char-list {
    background: #ff951c;
    text-align: center;
    padding: 4rem 0;
}
.char-list__item {
    background: #fff;
    text-align: center;
    font-size: 2rem;
    display: inline-block;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    margin: 1.5rem 4rem;
    color: #ff951c;
}

.char-list__item i {
    margin-top: 2rem;
    font-size: 5rem;
}

.char-list__item p {
    margin-top: 0.7rem;
}
/************** END CHAR-LIST **************/


/************** GALLERY **************/

h3 {
    padding: 2rem 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
}

.gallery__item {
    height: 20rem;
    border: 3px solid white;
    border-radius: 10px;
    display: inline-block;
    width: 40%;
    min-width: 24.2rem;
    margin: 0 1rem 2rem 1rem;
}

#gal1 {
    background-image: url("images/gallery-1.jpg");
    background-position: left 50% top 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#gal2 {
    background: url("images/gallery-2.jpg");
    background-position: left 50% top 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#gal3 {
    background: url("images/gallery-3.jpg");
    background-position: left 50% top 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#gal4 {
    background: url("images/gallery-4.jpg");
    background-position: left 50% top 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
/************** END GALLEY **************/
