* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

main {
    min-height: calc(100vh - 3.5rem - 8rem);
    margin-top: 3.5rem;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

/************** HEADER **************/
.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ff951c;
    padding: 0.5rem 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__brand {
    height: 2.5rem;
    width: 5rem;
    margin-left: 3rem;
}

.main-header__brand img {
    height: 100%;
}
  
.main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 0;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #773000;
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}
/************** END HEADER **************/


/************** FOOTER **************/
.main-footer {
    background: black;
    padding: 4rem 0;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-footer__link {
    margin: 1rem 3rem;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.mobile-nav {
    display: none;
}

.toggle-button {
    display: none;
}
/************** END FOOTER **************/


/************** BUTTONS **************/
.button {
    background: #ff951c;
    color: white;
    font: inherit;
    border: 1.5px solid #ff951c;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #ff951c;
}

.button:focus {
    outline: none;
}

.open {
    display: block !important;
}
/************** END BUTTONS **************/

.copy-rights {
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.copy-rights a {
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-weight: bold;
    padding: 0.2rem 0;
}

.copy-rights a:hover,
.copy-rights a:active {
    color: white;
    border-bottom: 2px solid white;
}

@media (max-width: 40rem) {
    .toggle-button {
        display: inline-block;
        width: 3rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
        }
        
    .toggle-button:focus {
        outline: none;
    }
    
    .toggle-button__bar {
        width: 100%;
        height: 0.2rem;
        background: black;
        display: block;
        margin: 0.6rem 0;
    }

    .main-nav {
        display: none;
    }

    .main-header {
        justify-content: flex-start;
    }

    .main-header__brand {
        margin: 0;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: -1;
    }

    .mobile-nav {
        display: none;
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        background: rgb(255, 148, 26);
        width: 80%;
        height: 100vh;
    }

    #toggle-nav {
        position: absolute;
        right: 2rem;
        top: 0.5rem;
    }
    
    .mobile-nav__items {
        width: 90%;
        height: 100%;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mobile-nav__item {
        margin: 2rem 0;
    }
    
    .mobile-nav__item a {
        font-size: 1.5rem;
    }

    .mobile-nav__item a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 0.2rem 0;
    }

    .main-footer__links {
        display: flex;
        flex-direction: column;
    }
}