main {
    background: rgb(255, 53, 87);
    color: white;
    text-align: center;
}

/************** WELCOME **************/
.welcome {
    height: 50vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.452) 100%, transparent), url("../images/welcome.jpg") left 80% top 70%/cover no-repeat border-box, #992400;
    position: relative;
}

.welcome h1 {
    padding-top: 4rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    font-weight: 400;
}

.welcome p {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.5rem;
    font-weight: bold;
}
/************** END WELCOME **************/


/************** GALLERY **************/
.main-chains {
    width: 100%;
    background-color: rgb(184, 53, 53);
}

.main-chains h3 {
    padding: 2rem 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.chains {
    margin: auto;
    max-width: 85rem;
}

.chains-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.chains-gallery__item {
    height: 25rem;
    border-radius: 10px;
    width: 35rem;
    margin: 0 2rem 5rem 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.chains-gallery__item-drop {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}


.chains-gallery__item-header {
    height: 20%;
    font-weight: bold;
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    line-height: 1;
    color: rgb(184, 53, 53)
}

.chains-gallery__item-header .place {
    flex-basis: 30%;
}

.chains-gallery__item-header .name {
    flex-basis: 70%;
    font-variant: small-caps;
}

.chains-gallery__item-image {
    height: 80%;
    background-position: left 50% top 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-1 {
    background-image: url("https://247wallst.com/wp-content/uploads/2020/01/imageforentry15-oub.jpg");
}

.img-2 {
    background-image: url("https://247wallst.com/wp-content/uploads/2020/01/imageforentry14-hte.jpg");
}

.img-3 {
    background-image: url("https://247wallst.com/wp-content/uploads/2019/10/imageforentry3-c9i.jpg");
}

.img-4 {
    background-image: url("https://247wallst.com/wp-content/uploads/2020/01/qdoba-mexican-eats.jpg");
}

.img-5 {
    background-image: url("https://247wallst.com/wp-content/uploads/2020/01/del-taco.jpeg");
}

/************** END GALLEY **************/
