main {
    background: rgb(255, 53, 87);
    color: white;
    text-align: center;
}

/************** WELCOME **************/
.welcome {
    height: 50vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.452) 100%, transparent), url("../images/welcome.jpg") left 80% top 70%/cover no-repeat border-box, #992400;
    position: relative;
}

.welcome h1 {
    padding-top: 4rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    font-weight: 400;
}

.welcome p {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.5rem;
    font-weight: bold;
}
/************** END WELCOME **************/


/************** GALLERY **************/
.main-dishes {
    width: 100%;
    background-color: white;
}

.main-dishes h3 {
    padding: 2rem 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: rgb(255, 53, 87);
}

.dishes {
    margin: auto;
    max-width: 85rem;
}

.dishes-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dishes-gallery__item {
    height: 25rem;
    border-radius: 10px;
    width: 35rem;
    margin: 0 2rem 5rem 2rem;
    display: flex;
    flex-direction: column;
}

.dishes-gallery__item-header {
    height: 20%;
    font-weight: bold;
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    background-color: rgb(255, 53, 87);
    line-height: 1;
}

.dishes-gallery__item-header .place {
    flex-basis: 30%;
}

.dishes-gallery__item-header .name {
    flex-basis: 70%;
    font-variant: small-caps;
}

.dishes-gallery__item-image {
    height: 80%;
    background-position: left 50% top 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-1 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3d/Portada-chilaquiles-rojos.jpg");
}

.img-2 {
    background-image: url("https://www.simplyrecipes.com/wp-content/uploads/2018/07/Guacamole-LEAD-1.jpg");
}

.img-3 {
    background-image: url("https://www.halfbakedharvest.com/wp-content/uploads/2020/01/Mushroom-Al-Pastor-Tacos-with-Garlic-Lime-Special-Sauce-1-1.jpg");
}

.img-4 {
    background-image: url("https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2017/02/diferenciasentremolenegrorojoyverde.jpg");
}

.img-5 {
    background-image: url("https://www.eatingbirdfood.com/wp-content/uploads/2020/01/healthy-chicken-enchiladas-2.jpg");
}

.img-6 {
    background-image: url("https://tastesbetterfromscratch.com/wp-content/uploads/2020/01/Tostadas-5.jpg");
}
/************** END GALLEY **************/
